* {
  background-color: black;
  color: white;
}

.header {
  padding: 20px;
}

.navigation {
  display: flex;
  gap: 10px;
}

.barrier {
  margin-left: 20px;
}

.links {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  /* text-decoration: underline; */
}

.content {
  margin-left: 20px;
}

.listedItems {
  text-decoration: none;
  color: skyblue;
}

.formStyle {
  margin: 10px;
  padding: 20px;
}

.formError {
  display: flex;
  gap: 10px;
}

.errMsg {
  padding: 0;
  margin: 0;
  color: red;
}

input {
  background-color: white;
  color:black
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
  background-color: white;
  color: black;
}

button {
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonContainer {
  /* background-color: white; */
  display: flex;
  gap: 20px;
}